.menu-list {
    list-style-type: none;
}

.menu-item {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.button {
    cursor: pointer;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);;
}

.logo,span {
    color:#4D5AE5;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height:1.16;
letter-spacing: 0.03em;
}

.logo, studio {
color: #2e2f42;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.66;
letter-spacing: 0.03em;
}

.menu-link {
color: #2e2f42;
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
    color: tomato;
}

.menu-adress { 
color: #434455;
/* Body */
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}
.page-body {
    font-family: Roboto, sans-serif;
    color: #2e2f42;
    background-color: #FFF;
   }


.h1 {
    text-align: center;
    /* Header 1 */
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;
 
}
.h2 {
   font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}


.h3 {
    font-size: 20px;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.02em;
}



